.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.btn img {
  display: block;
  width: clamp(38px, 2vw, 70px);
  height: auto;
}
